{% extends "base.html.twig" %}

{% block title %}Password forgot ?{% endblock %}

{% block body %}
<section class="my-32">
    <div class="container">
        <div class="max-w-3xl mx-auto flex flex-col items-center justify-center gap-5">
            <h1 class="text-xl md:text-3xl font-semibold">Forgot Password</h1>

            <div class="bg-white p-8 border rounded-xl w-full flex flex-col gap-5">
                {% for message in app.flashes('error') %}
                    <div class="bg-red-500 rounded-lg text-white p-3">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('success') %}
                    <div class="bg-green-500 rounded-lg text-white p-3">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form(form, {
                    attr: {
                        class: 'flex flex-col gap-8'
                    }
                }) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}